IMAGE_REPO='nginx/proxy'                         # Create a locally cached image named nginx/proxy
NGINX_CONFIG_FILE_NAME='example.nginx.conf'      # The nginx config file for this environment. Must be in the same directory as the .env file.
CERTBOT_CONFIG_FILE_NAME='example.certbot.ini'   # The cerbot config file for this environment. Must be in the same directory as the .env file.